# project specific files
Notes.md
configs/config.json
configs/services.json
tmp/

# image files
*.png
*.jpg

# Haskell
# compilation
*.errors
*.hi
# cabal
dist/
dist-newstyle/
cabal.project.local
.ghc.environment.*
# stack
.stack-work/

# Python
# compiled files
*.pyc
*.pyo
__pycache__/
.mypy_cache/

# Compiled files
*.o
*.so
a.out

# tar, backup, archive files
*.bak
*.tar.gz
*.tar.bz2
*.a
