name: Build Matrix

on:
  workflow_dispatch:
  push:
    branches: [main]
#  schedule:
#    # additionally run three times per week at midnight to maintain cache
#    - cron: '0 0 * * Mon,Wed,Sat'

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        ghc: ['9.2.7', '9.4.4']
        cabal: [3.10.1.0]
        os: [ubuntu-latest]
    name: Haskell GHC ${{ matrix.ghc }}

    steps:
      - name: Checkout sources
        uses: actions/checkout@v3

      - name: Setup Haskell
        uses: haskell/actions/setup@v2
        with:
          ghc-version: ${{ matrix.ghc }}
          cabal-version: ${{ matrix.cabal }}

      - name: Install external dependencies
        run: |
          sudo apt-get update

      - name: Freeze
        run: cabal freeze

#      - name: Cache ~/.cabal/packages, ~/.cabal/store and dist-newstyle
#        uses: actions/cache@v3
#        with:
#          path: |
#            ~/.cabal/packages
#            ~/.cabal/store
#            dist-newstyle
#          key: ${{ runner.os }}-${{ matrix.ghc }}-${{ hashFiles('**/*.cabal', '**/cabal.project', '**/cabal.project.freeze') }}
#          restore-keys: ${{ runner.os }}-${{ matrix.ghc }}-

      - name: Build dependencies
        run: cabal build --only-dependencies

      - name: Build & Install
        run: |
          cabal build
          cabal install --install-method=copy --overwrite-policy=always --enable-executable-stripping
